<section class="mt-20 mx-auto sm:w-4/5 grid grid-cols-1 gap-y-6 p-2">

  <form [formGroup]="productForm">
    <h2 class="text-2xl font-semibold mt-6 text-center">Add Product</h2>

    <div
      class="login mx-5 mt-10 bg-white grid grid-cols-1 gap-y-5 rounded-md p-3 shadow-lg sm:mx-auto sm:w-2/4"
    >
      <label
        for="file-upload"
        class="mx-auto w-fit my-auto cursor-pointer rounded bg-[#e8e5e5] px-4 py-2 text-center font-bold text-blue-600 hover:text-white hover:bg-blue-700"
        >Choose File</label
      >
      <input
        id="file-upload"
        type="file"
        class="hidden w-fit"
        required
        (change)="previewImage($event)"
      />
      <div class="image-preview hidden">
        <img id="preview" src="" alt="Image Preview" />
      </div>

      <select
        required
        class="mx-auto w-full rounded-md bg-white p-2 border border-gray-300"
        formControlName="categoryId"
      >
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>

      </select>

      <div>
        <input
          type="text"
          class="rounded-md p-2 border border-gray-300"
          placeholder="Name"
          formControlName="name"
        />
        <p
          id="nameInUse"
          class="text-red-500 text-xs italic"
          *ngIf="productNameExist"
        >
          Ce nom est déjà utilisé.
        </p>
      </div>
      <input
        type="number"
        required
        class="rounded-md p-2 border border-gray-300"
        placeholder="Price"
        formControlName="price"
      />
      <textarea
        class="rounded-md p-2 border border-gray-300"
        cols="7"
        rows="3"
        required
        formControlName="description"
        placeholder="Description"
      ></textarea>

      <button
        type="submit"
        [disabled]="!productForm.valid"
        (click)="addProduct()"
        class="w-full my-auto py-2 px-4 required rounded-lg bg-blue-600 text-white font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        Add
      </button>
    </div>
  </form>
</section>
