<section class="mt-20 mx-auto sm:w-3/5 grid grid-cols-1 gap-y-6 p-2">
  <div class="grid grid-cols-1 gap-y-2">
    <div
    *ngFor="let user of users"
      class="grid grid-cols-1 sm:grid-cols-2 shadow-xl p-4 m-3   sm:gap-x-4 bg-[#e3b5b5] rounded-2xl"
    >
    <div class="image-preview">
        <img 
        [src]="user.processedImg"

        
        alt="" />
      </div>

      <div class="grid grid-cols-1 gap-y-2">
        <div class="flex flex-row gap-x-3">
          <h2 class="font-serif underline">First Name :</h2>
          <h3>{{user.firstName}}</h3>
        </div>

        <div class="flex flex-row gap-x-3">
          <h2 class="font-serif underline">Last Name :</h2>
          <h3>{{user.lastName}}</h3>
        </div>

        <div class="flex flex-row gap-x-3">
          <h2 class="font-serif underline">User Name :</h2>
          <h3>omarZgr</h3>
        </div>

        <div class="flex flex-row gap-x-3">
          <h2 class="font-serif underline">Email :</h2>
          <h3>{{user.email}}</h3>
        </div>

        <div class="flex flex-row gap-x-3">
          <h2 class="font-serif underline">Date Creation :</h2>
          <h3>{{user.dateCreation!= null || user.dateCreation!=undefined ?  user.dateCreation.substring(0,10) : "empty"}} </h3>
        </div>
      </div>
    </div>


  </div>
</section>
